<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Hotel Booking App</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">



    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/adminpage">Hotel Booking App (Admin)</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/users">Show Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/bookingDisplay">Show Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">Sign Out</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<body>
<br>

<h2>Edit Users</h2>
<form method="post">
    <div>First Name = <input name="fname" value="<%=users.fname%>" /></div>
    <div>Last Name = <input name="lname" value="<%=users.lname%> "/></div>
    <div>Phone No. = <input name="phone" value="<%=users.phone%> "/></div>
    <div>Username = <input name="username" value="<%=users.username%> "/></div>
    <div>Email = <input name="email" value="<%=users.email%> "/></div>
    <button>Save</button>
    <input type="hidden" value="<%=users.id%>"/>
</form>
</body>


<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
